<%- css('css/paginator') %>
    <%- css('css/liststyle') %>
        <div id="posts">
            <% page.posts.each(function (post) { %>
                <div id="bunsho">
                    <a id="title" href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                    <span id="quoter">“</span>
                    <span id="quote"><%= post.description %></span>
                    <span id="time"><%= date(post.date, "YYYY-MM-DD") %> </span>
                </div>
                <% }) %>

        </div>

        <div class="paginator">
            <%- paginator({
prev_text: '上一页☚',
next_text: '下一页☛',

escape: false
}) %>
        </div>